## Libraries

In [1]:
import pandas as pd
from sklearn.model_selection import train_test_split

import warnings
warnings.filterwarnings('ignore')

In [2]:
# calling dataframe
%store -r df
df = df

In [3]:
df.head()

,Brand,Model,Year,Engine_Size,Mileage,Doors,Owner_Count,Price,Transmission_Manual,Transmission_Semi-Automatic,Fuel_Type_Electric,Fuel_Type_Hybrid,Fuel_Type_Petrol
9254,8901.128019,8782.205323,2007,3.2,33948,5,4,9721,0.0,1.0,0.0,1.0,0.0
1561,8650.208122,8604.644689,2010,4.8,224853,2,1,9402,0.0,1.0,1.0,0.0,0.0
1670,8780.323961,8729.062044,2006,1.9,13435,3,5,8531,0.0,1.0,0.0,1.0,0.0
6087,8585.052045,8640.753036,2019,1.7,199846,2,3,7503,0.0,1.0,0.0,0.0,0.0
6669,8892.547554,8934.714859,2005,3.6,261,3,2,10694,0.0,0.0,0.0,0.0,1.0

## Declare feature and target

In [4]:
X = df.drop('Price', axis=1)
y = df['Price']

## Data Splitting (train, val, test)

Data is split into train and validation sets so that we can consider test data as an unseen real data.
Test data has been split at the beginning itself before cleaning.

In [5]:
X_train, X_val, y_train, y_val = train_test_split(X, y, test_size=0.2, random_state=42)

## Checkpoint

In [6]:
%store X_train
%store y_train
    
%store X_val
%store y_val

Stored 'X_train' (DataFrame)
Stored 'y_train' (Series)
Stored 'X_val' (DataFrame)
Stored 'y_val' (Series)